body{
  background-color: #000;
  color: #fff;
}

@media screen and (max-width: 576px) {
  body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

  }
  
  body::-webkit-scrollbar {
    display: none;
  }
}
